@import 'jeet'

*
  font-family Roboto, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif

html
  font-size 62.5%

body
  
  .info
    span(1)
    
    letter-spacing 3px
    background-image url(../img/bg_bw.jpg)
    background-position 0 0 
    text-align center
    font-size 2rem
    color white
    .info__content
      width 60rem
      height 30rem
      position absolute
      top 50%
      left 50%
      margin-left -30rem
      margin-top -15rem
    .info__title
      letter-spacing 15px
    .info__subtitle
      letter-spacing 8px
      font-size 5rem
      font-weight bold
    .info__btn
      padding-top 1rem
      a
        cursor pointer
        text-decoration none
        background-color #5399fc
        color white
        display inline-block
        padding 2rem
        width 36rem
        height 8rem
        border-radius 25rem
        font-size 3rem
        &:hover
          color white
          background-color #64a3fc

  .header
    span(1)
    background-color white
    position absolute
    bottom 0
    box-shadow 0px 0px 0.5rem rgba(0, 0, 0, 0.3)
    padding 1rem
    height 6rem
    
    .header__nav
      span(0.42, offset: 0.29)
      height 4rem
      .header__btn
        span(1/6)
        padding-top 0.5rem
        text-align center
        a
          cursor pointer
          text-decoration none
          color #4d4d4d
          font-size 1.6rem
          &:hover
            color #5399fc
            text-decoration none
      .highlight
        padding-top 0.5rem
        a
          background-color #5399fc
          color white
          display inline-block
          padding 0.5rem
          width 14rem
          border-radius 1.6rem
          &:hover
            color white
            background-color #64a3fc
    
    .header__social
      span(0.22, offset: 0.07)
      height 4rem
      .header__social__btn
        col(1/4)
        padding 1rem
        width 3rem
        text-align center
        a
          cursor pointer
          text-decoration none
          color #4d4d4d
          font-size 1.9rem
          &:hover
            color #5399fc
            text-decoration none
          i
            font-size 2rem
            
  
          
  .speaker
    
    color #34495e
    h1
      center(30rem)
      margin-top 6rem
      margin-bottom 3rem
      font-weight bold
      text-align center
    col(0.8, offset: 0.1)
    .speaker__card
      span(0.25)
      padding 1rem
      .speaker__content
        span(1)
        border-radius 6px
        box-shadow 0px 0px 2rem rgba(155, 155, 155, 0.6)

