@import 'jeet'

$font-main = "lato", 'Microsoft YaHei', "微软雅黑", "STXihei", "华文细黑", "sans-serif";

*
  font-family $font-main
  -webkit-text-size-adjust none
  -webkit-transform-origin-x 0

html
  font-size 62.5%
  text-align center

.r
  border-right  solid 1px #E7E7E7
.b
  border-bottom 1px solid #E7E7E7
.t
  border-top 1px solid #E7E7E7
.l
  border-left 1px solid #E7E7E7
+below(768px)
  .r,.b,.t,.l
    border none
  div.null
    display none

body
  layout1()
    span(0.7, offset:0.15)
  layout1_sm()
    span(0.9, offset:0.05)
  layout2()
    span(0.5, offset:0.25)
  layout2_md()
    span(0.7, offset:0.15)
  layout2_sm()
    span(0.9, offset:0.05)
  font-size 1.6rem
  .info
    span(1)

    letter-spacing 3px
    background-image url(../img/bg_bw.jpg)
    background-position 0 0
    text-align center
    font-size 2rem
    +below(500px)
      font-size 1rem
    color white
    .info__content
      width 60rem
      +below(500px)
        width 26rem
        margin-left -13rem
        margin-top -10rem
      height 30rem
      position absolute
      top 50%
      left 50%
      margin-left -30rem
      margin-top -15rem
    .info__content__qr
      width 60rem
      +below(500px)
        width 26rem
        margin-left -13rem
        margin-top -15rem
      height 30rem
      position absolute
      top 50%
      left 50%
      margin-left -30rem
      margin-top -20rem
    .info__logo
      +below(500px)
        height (6.5*0.618)rem
        width (24*0.618)rem
      height 6.5rem
      width 24rem

      text-align center
      margin-bottom 2rem
    img.qrcode
      center(20rem)
      margin-top 5rem
    .info__subtitle
      letter-spacing 2px
      font-size 5rem
      +below(500px)
        font-size 2rem
      .info__down
        font-family arial
        font-weight normal
    .info__btn
      padding-top 1rem
      a
        cursor pointer
        text-decoration none
        background-color #5399fc
        color white
        display inline-block
        line-height 6rem
        vertical-align middle
        width 36rem
        +below(500px)
          width 20rem
        height 6rem
        border-radius 25rem
        font-size 3rem
        &:hover
          color white
          background-color #64a3fc

  .header
    span(1)
    background-color white
    position absolute
    bottom 0
    box-shadow 0px 0px 0.5rem rgba(0, 0, 0, 0.3)
    padding 1rem
    height 6rem

    .sm_nav
      span(0.2, offset: 0.1)
      display none
      +below(500px)
        display inline-block
      height 4rem
      vertical-align middle
      .header__btn
        span(1/5)
        padding-top 0.9rem
        text-align center
        a
          cursor pointer
          text-decoration none
          color #4d4d4d
          font-size 2rem
          &:hover
            color #5399fc
            text-decoration none
      ul
        span(1)
        display none
        box-sizing border-box
        text-align left
        position absolute
        bottom 6rem
        left 0
        list-style-type none
        margin 0
        padding-left 4rem
        padding-top 0.5rem
        padding-bottom 0.5rem
        height 21rem
        background white
        border-bottom solid 1px #ccc
        border-top solid 1px #ccc
        li
          span(0.8)
          padding-top 0.5rem
          padding-bottom 0.5rem
          line-height 3rem
          vertical-align middle
          height 4rem
          a
            font-size 1.6rem

    .header__nav
      span(0.42, offset:0.29)
      +below(1024px)
        span(0.6, offset:0.1)
      +below(500px)
        display none
      height 4rem
      .header__btn
        span(1/5)
        padding-top 0.8rem
        text-align center
        a
          cursor pointer
          text-decoration none
          color #4d4d4d
          font-size 1.6rem
          &:hover
            color #5399fc
            text-decoration none
      .highlight
        padding-top 0.5rem
        a
          background-color #5399fc
          color white
          display inline-block
          padding 0.5rem
          width 14rem
          border-radius 1.6rem
          &:hover
            color white
            background-color #64a3fc

    .header__social
      span(0.22, offset: 0.07)
      +below(1024px)
        span(0.3)
      +below(500px)
        span(0.6)
      height 4rem
      .header__social__btn
        col(1/4)
        padding 1rem
        width 3rem
        text-align center
        a
          cursor pointer
          text-decoration none
          color #4d4d4d
          font-size 1.9rem
          &:hover
            color #5399fc
            text-decoration none
          i
            font-size 2rem



  .speaker
    layout1()
    +below(1200px)
      layout1_sm()
    color #34495e
    h1
      center(30rem)
      margin-top 6rem
      margin-bottom 3rem
      font-weight bold
      text-align center
    .speaker__card
      span(1/3)
      +below(768px)
        span(1/2)
      +below(500px)
        span(1)
      padding 1rem
      .speaker__content
        span(1)
        +below(500px)
          padding 1rem
        padding 4rem
        padding-top 1rem
        h4.name
          font-weight 700
          margin-bottom 2rem
        p.detail
          margin-top 2rem


  .intro
    span(1)
    color #34495e
    background-color #f8f8f8
    div.intro__content
      layout1()
      +below(1200px)
        layout1_sm()
    h1
      center(30rem)
      margin-top 6rem
      margin-bottom 3rem
      font-weight bold
      text-align center
    .intro__card
      span(1/3)
      +below(500px)
        span(1)
      padding 2rem
      img
        width 40%
      h3.intro__reason
        margin-bottom 2rem
      p.intro__detail
        margin-top 2rem
  .agenda
    span(1)
    color #34495e
    background-color #f8f8f8
    div.agenda__content
      layout2()
      +below(1200px)
        layout2_sm()
      h1
        center(30rem)
        margin-top 6rem
        margin-bottom 3rem
        font-weight bold
        text-align center
      ul
        span(0.6, offset:0.2)
        +below(500px)
          span(1)
          text-align left
        line-height 2rem
        letter-spacing 0.1rem
        font-size 1.6rem
        text-align left
      p
        center(20rem)
        color gray
        margin-bottom 6rem

  .ticket
    layout2()
    +below(1200px)
      layout2_sm()
    color #34495e
    text-align left
    letter-spacing 1px
    h1
      center(50rem)
      margin-top 6rem
      margin-bottom 3rem
      font-weight bold
      text-align center
    p
      span(0.6, offset:0.2)
      // FIXME the jeet doesn't offer a way to change right offset
      margin-right: 20%
      +below(500px)
        span(1)
    .blank
      margin-bottom 3rem
    .hand
      center(10rem)
      img
        width 100%
    ul
      span(0.6, offset:0.2)
      +below(500px)
        span(1)
        text-align left
      line-height 2rem
      font-size 1.6rem
      text-align left
    .ticket__btn
      span(1)
      text-align center
      margin-top 1rem
      margin-bottom 5rem
      a
        cursor pointer
        text-decoration none
        background-color #5399fc
        color white
        display inline-block
        vertical-align middle
        line-height 6rem
        width 36rem
        +below(500px)
          width 25rem
        height 6rem
        border-radius 25rem
        text-align center
        font-size 3rem
        &:hover
          color white
          background-color #64a3fc
  .sponsor
    span(1)
    color #34495e
    background-color #f8f8f8
    padding-bottom 6rem
    div.intro__content
      layout2()
      +below(1200px)
        layout2_sm()
    h1
      center(30rem)
      margin-top 6rem
      margin-bottom 3rem
      font-weight bold
      text-align center
    h4
      margin-top 6rem
      margin-bottom 3rem
      text-align center
  .medias
    layout2()
    +below(1200px)
      layout2_md()
    +below(500px)
      layout2_sm()
    color #34495e
    padding-bottom 6rem
    h1
      center(30rem)
      margin-top 6rem
      margin-bottom 3rem
      font-weight bold
      text-align center
    .medias__card
      span(1/3)
      +below(500px)
        span(1/2)
      display inline-block
      padding 1rem
      height 10rem
      img
        width 100%
  .map
    span(1)
    color #34495e
    background-color #f8f8f8
    padding-bottom 6rem
    div.map__content
      layout2()
      +below(1200px)
        layout2_sm()
    h1
      center(30rem)
      margin-top 6rem
      margin-bottom 3rem
      font-weight bold
      text-align center
  .subscribe
    span(1)
    height 6rem
    +below(500px)
      height 10rem
    background-color #2770E7
    padding 1rem
    vertical-align middle
    .part0
      span(0.2, offset:0.2)
      +below(1024px)
        span(0.3, offset:0.1)
      +below(500px)
        span(1)
        height 40%
      line-height 4rem
      height 100%
      h2
        margin-top 0
        margin-bottom 0
        letter-spacing 2px
        line-height 4rem
        vertical-align middle
        color white
    div.subscribe__main
      span(0.5)
      +below(500px)
        span(1)
        margin-top 1rem
      div.part1
        span(0.618)
        input.subscribe__email
          text-align center
          background: #FFF;
          border-radius: 2rem 0 0 2rem
          border none
          color: #4d4d4d;
          width 100%
          height 4rem
          line-height: 200%;
          vertical-align: middle;
      div.part2
        span(0.382)
        a.subscribe__btn
          cursor pointer
          border none
          display inline-block
          text-align center
          vertical-align middle
          background-color #5399fc
          color white
          width 100%
          height 4rem
          border-radius: 0 2rem 2rem 0
          line-height 4rem
          font-size 2rem
          text-decoration none
  footer
    span(1)
    background-color black
    color white
    padding 2rem
    vertical-align middle
    div.main
      span(0.4, offset:0.3)
      +below(1200px)
        span(0.8, offset:0.1)
      +below(500px)
        span(1)
      div
        span(1/4)
        a
          color #aaa
          text-decoration none
      div.long
        span(1/2)
.disabled {
  cursor: not-allowed;
  opacity: .65;
}



