doctype html

html(lang="zh-CN")

  head
    meta(charset="UTF-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1")/
    title @Swift | 中国首届 Swift 开发者大会
    link(rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico")
    link(rel="apple-touch-icon image_sr" type="image/x-icon" href="../assets/img/favicon.ico")
    link(rel="stylesheet" type="text/css" href="../assets/css/vendor/bootstrap.min.css")/
    link(rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="../assets/css/main.css")
    script(type="text/javascript" src="../assets/js/zepto.min.js")
    script(type="text/javascript" src="../assets/js/main.js")
   
  body
    
    section.info
      div.info__content
        img(src="../assets/img/logo.png").info__logo
        p.info__subtitle 中国首届#[span.info__down Swift]开发者大会
        p.info__date 2016年1月10日·中国北京
        div.info__btn
          a 购票参会
      header.header
        div.sm_nav
          div.header__btn
            a
              i.fa.fa-bars
          ul.sm_btns
            li
              a(href="#intro") 大会介绍
            li
              a(href="#speaker") 演讲嘉宾
            li
              a(href="#agenda") 大会主题
            li
              a(href="#sponsor") 赞助商
            li
              a(href="#medias") 合作媒体
        div.header__nav
          div.header__btn
            a(href="#intro") 大会介绍
          div.header__btn
            a(href="#speaker") 演讲嘉宾
          div.header__btn
            a(href="#agenda") 大会主题
          div.header__btn
            a(href="#sponsor") 赞助商
          div.header__btn
            a(href="#medias") 合作媒体
          //- div.header__btn.highlight
          //-   a 购票
        div.header__social
          div.header__social__btn
            a EN
          div.header__social__btn
            a(href="http://weibo.com/atswift" target="_blank")
              i.fa.fa-weibo
          div.header__social__btn
            a(href="https://github.com/atConf/atswift" target="_blank")
              i.fa.fa-github
          div.header__social__btn
            a(href="https://twitter.com/atSwiftConf" target="_blank")
              i.fa.fa-twitter
    section.intro(id="intro")
      div.intro__content
        h1 大会介绍
        div.intro__card
          img(src="http://v3.bootcss.com/assets/img/sass-less.png")
          h3.intro__reason 非盈利
          p.intro__detail @Swift 是由 @Conf 团队组织的一场<b>非盈利</b>的技术大会，所有收入全部用于大会本身支出，包括会场租赁、嘉宾差旅、参会者福利等等。
        div.intro__card
          img(src="http://v3.bootcss.com/assets/img/devices.png")
          h3.intro__reason 开发者 to 开发者
          p.intro__detail @Swift 是一场由开发者做给开发者的技术盛宴，我们和你一样是开发者，你喜欢的你想要的也同样是我们所追求的。
        div.intro__card
          img(src="http://v3.bootcss.com/assets/img/components.png")
          h3.intro__reason 高质量
          p.intro__detail 所有的演讲嘉宾和演讲内容都会经过我们的严格筛选，保证大家听到的是纯技术干货。
    section.speaker(id="speaker")
      h1 演讲嘉宾
      div.speaker__card.r.b
        div.speaker__content
          h4.name CHRIS EIDHOF
          a(href="http://www.eidhof.nl/" target="_blank")
            img(src="../assets/img/chris.png")
          p.detail Chris, 生活在德国柏林的荷兰开发者。他把大部分时间都花在开发 iOS 和 Mac 应用上，作品包括 #[a(href="http://decksetapp.com") Deckset] 和 #[a(href="http://www.getscenery.com") Scenery]. Chris 还创办了 #[a(href="http://www.uikonf.com") UIKonf] 和 #[a(href="http://www.objc.io") objc.io]. 此外，他还是一位作者，著有 #[a(href="http://www.objc.io/books/fpinswift") Functional Programming in Swift], 目前正在编写 #[a(href="http://www.objc.io/books/") Advanced Swift].

      div.speaker__card.b
        div.speaker__content
          h4.name SAM SOFFES
          a(href="http://soff.es" target="_blank")
            img(src="../assets/img/sam.png")
          p.detail Sam, 开发者和设计师，代表作有 Tiiny、Litely、Cheddar、Hipstamatic 和 Bible. Sam 生活在旧金山，是一位狂热的摩托车手。他的 Twitter 和 GitHub 是 @soffes.

      div.speaker__card.b.l
        div.speaker__content
          h4.name 王巍
          a(href="http://onev.cat/" target="_blank")
            img(src="../assets/img/wangwei.png")
          p.detail @onevcat, 江湖人称“喵神”。iOS 和 Unity3D 开发者，旅居日本，目前供职于 LINE. 著有《Swifter - 100 个 Swift 必备 tips》。

      div.speaker__card.r
        div.speaker__content
          h4.name 李洁信
          a(href="https://xitu.io/85" target="_blank")
            img(src="../assets/img/lijiexin.jpg")
          p.detail 美国加州州立大学计算机硕士，前网易新闻客户端 iOS 核心开发，#[a(href="http://swiftist.org") swiftist.org] 社区创始人，”Listen+“看视频学英语 App 创始人，”奴隶社会”公众号和相关社区 App ”磁场“技术合伙人。
      div.speaker__card
        div.speaker__content
          h4.name ？？？
          img(src="../assets/img/avatar.png")
          p.detail 更多嘉宾邀请中……
      div.speaker__card.l.null
        div.speaker__content
    section.agenda(id="agenda")
      div.agenda__content
        h1 大会主题
        ul
          li Swift 2.0 新特性介绍
          li Swift 开源的意义及其对开发者的影响
          li OC 迁移 Swift 的最佳实践
          li 不同类型开发者如何顺利过渡到 Swift
    section.ticket
      h1 为什么要买票参加
      ul
        li 这是国内第一场 Swift 大会
        li 身处现场，和国内外一线 Swift 专家交流
        li 会后我们会放出视频，但是不包含提问环节——只有在现场才能参与提问
        li 和几百位对 Swift <b>真正感兴趣</b>的开发者交流
        li 所有收入全部用于大会支出，你们才是这场大会真正的主人！
      div.ticket__btn
        a(href="" target="_blank") 我要购票
    section.sponsor(id="sponsor")
      div.sponsor__content
        h1 赞助商
        h4 赞助商招募中，有兴趣请邮件联系 #[a(href="mailto:lj925184928@gmail.com") 梁杰]。
    section.medias(id="medias")
      h1 合作媒体
      div.medias__logo
        a.medias__card(href="http://segmentfault.com" target="_blank")
          img(src="../assets/img/medias/sf.png")
        a.medias__card(href="http://www.36kr.com" target="_blank")
          img(src="../assets/img/medias/36kr.png")
        a.medias__card(href="http://www.infoq.com/cn/" target="_blank")
          img(src="../assets/img/medias/infoq.jpg")
        a.medias__card(href="http://www.csdn.net" target="_blank")
          img(src="../assets/img/medias/csdn.png")
        a.medias__card(href="http://www.pingwest.com" target="_blank")
          img(src="../assets/img/medias/pw.png")
        a.medias__card(href="http://www.jikexueyuan.com" target="_blank")
          img(src="../assets/img/medias/jkxy.png")
    section.map
      div.map__content
        h1 会场位置
        h4 北京·待定（如果您愿意赞助场地，请直接与 #[a(href="mailto:lj925184928@gmail.com") 梁杰] 联系）
    section.subscribe
      div.part0
        h2 订阅最新消息
      div.subscribe__main
        div.part1
          input.subscribe__email(type="email" placeholder="邮箱地址")
        div.part2
          a.subscribe__btn(href="") 订阅
    footer
      div.main
        div
          span Build by #[a(href="https://github.com/atConf" target="_blank") @Conf]
        div.long
          span Design by #[a(href="https://github.com/erqiudao" target="_blank") @erqiuda] & #[a(href="https://github.com/z4rd" target="_blank") @z4rd]
        div
          a(href="mailto:lj925184928@gmail.com") 联系我们
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67871901-1', 'auto');
      ga('send', 'pageview');
      
