doctype html

html(lang="zh-CN")

  head
    meta(charset="UTF-8")/
    title doSwift | 中国第一届 Swift 开发者大会
    link(rel="stylesheet" type="text/css" href="../assets/css/vendor/bootstrap.min.css")/
    link(rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="../assets/css/main.css")
    script(type="text/javascript" src="../assets/js/zepto.min.js")
    script(type="text/javascript" src="../assets/js/main.js")
   
  body
    
    section.info
      div.info__content
        p.info__title @Swift
        p.info__subtitle Swift中国开发者大会
        p.info__date 2016年1月10日·中国北京
        div.info__btn
          a 购票参会
      header.header
        div.header__nav
          div.header__btn
            a 大会介绍
          div.header__btn
            a 演讲嘉宾
          div.header__btn
            a 日程安排
          div.header__btn
            a 赞助商
          div.header__btn
            a 地图
          div.header__btn.highlight
            a 购票
        div.header__social
          div.header__social__btn
            a EN
          div.header__social__btn
            a(href="" target="_blank")
              i.fa.fa-weibo
          div.header__social__btn
            a(href="" target="_blank")
              i.fa.fa-github
          div.header__social__btn
            a(href="" target="_blank")
              i.fa.fa-twitter
    section.speaker
      h1 演讲嘉宾
      div.speaker__card
        div.speaker__content
          img(src="http://2015.jsconf.cn/images/speakers/7.jpg")

      div.speaker__card
        div.speaker__content
          img(src="http://2015.jsconf.cn/images/speakers/7.jpg")

      div.speaker__card 
        div.speaker__content
          img(src="http://2015.jsconf.cn/images/speakers/7.jpg")

      div.speaker__card 
        div.speaker__content
          img(src="http://2015.jsconf.cn/images/speakers/7.jpg")

      div.speaker__card 
        div.speaker__content
          img(src="http://2015.jsconf.cn/images/speakers/7.jpg")

    section#agenda
    section#reason
    section#map
    footer

