doctype html

html(lang="zh-CN")

  head
    meta(charset="UTF-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1")/
    meta(http-equiv="Cache-Control" content="no-transform")/
    title @Swift | 中国首届 Swift 开发者大会
    link(rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico")
    link(rel="apple-touch-icon image_sr" type="image/x-icon" href="../assets/img/favicon.ico")
    link(rel="stylesheet" type="text/css" href="../assets/css/vendor/bootstrap.min.css")/
    link(rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="../assets/css/main.css")
    script(type="text/javascript" src="../assets/js/zepto.min.js")
    script(type="text/javascript" src="../assets/js/main.js")
    script(type="text/javascript" src="../assets/js/subscribe.js")
  body
    img(src="../assets/img/wechatLogo.png" style="position: fixed; top: -9999px;")
    section.info
      div.info__content
        img(src="../assets/img/logo.png").info__logo
        p.info__subtitle 中国首届#[span.info__down Swift]开发者大会
        p.info__date 2016年1月10日·中国北京
        div.info__btn
          a(href="#ticket") 我要参会
      header.header
        div.sm_nav
          div.header__btn
            a
              i.fa.fa-bars
          ul.sm_btns
            li
              a(href="#intro") 大会介绍
            li
              a(href="#speaker") 演讲嘉宾
            li
              a(href="#agenda") 大会议程
            li
              a(href="#sponsor") 赞助商
            li
              a(href="#medias") 合作媒体
        div.header__nav
          div.header__btn
            a(href="#intro") 大会介绍
          div.header__btn
            a(href="#speaker") 演讲嘉宾
          div.header__btn
            a(href="#agenda") 大会议程
          div.header__btn
            a(href="#sponsor") 赞助商
          div.header__btn
            a(href="#medias") 合作媒体
          //- div.header__btn.highlight
          //-   a 购票
        div.header__social
          div.header__social__btn
            a(href="./index-en.html") EN
          div.header__social__btn
            a(href="https://swiftchina.bearychat.com/" target="_blank")
              img(src="../assets/img/bc.png")
          div.header__social__btn
            a(href="http://weibo.com/atswift" target="_blank")
              i.fa.fa-weibo
          div.header__social__btn
            a(href="https://github.com/atConf/atswift" target="_blank")
              i.fa.fa-github
          div.header__social__btn
            a(href="https://twitter.com/atSwiftConf" target="_blank")
              i.fa.fa-twitter
    section.intro(id="intro")
      div.intro__content
        h1 大会介绍
        div.intro__card
          img(src="../assets/img/intro1_red.png")
          h3.intro__reason 非营利
          p.intro__detail @Swift 是由 @Conf 团队组织的一场<b>非营利</b>的技术大会，所有收入全部用于大会本身支出，包括会场租赁、嘉宾差旅、参会者福利等等。
        div.intro__card
          img(src="../assets/img/intro2.png")
          h3.intro__reason 开发者 to 开发者
          p.intro__detail @Swift 是一场由开发者做给开发者的技术盛宴，我们和你一样是开发者，你喜欢的你想要的也同样是我们所追求的。
        div.intro__card
          img(src="../assets/img/intro3.png")
          h3.intro__reason 高质量
          p.intro__detail 所有的演讲嘉宾和演讲内容都会经过严格筛选，保证大家听到的是纯技术干货。
    section.speaker(id="speaker")
      h1 大会主席
      div.speaker__chairman
        div.speaker__content
          h4.name 唐巧
          a(href="http://devtang.com" target="_blank")
            img(src="../assets/img/tangqiao.png")
          p.detail 唐巧，Blogger，InfoQ 编辑，资深 iOS 开发者。曾在网易参与过网易邮箱、网易微博以及有道云笔记的开发。目前在猿题库创业，是小猿搜题的产品技术负责人。
          p.detail 他喜欢写作与分享，独立撰写了《iOS开发进阶》，长期维护着自己的 #[a(href="http://blog.devtang.com" target="_blank") 技术博客] 和微信公共帐号 iOSDevTips。

      h1 演讲嘉宾
      div.speaker__card.r.b
        div.speaker__content
          h4.name 包涵卿
          a(href="https://twitter.com/hankbao" target="_blank")
            img(src="../assets/img/baohanqing.jpg")
          p.detail 瀑布 IM 客户端技术负责人。前 PPTV 趣点项目 iOS 负责人，曾经独自开发 PPTV Mac 版。在 GitHub 和 Twitter 上的 ID 是 @hankbao.
      div.speaker__card.b
        div.speaker__content
          h4.name CHRIS EIDHOF
          a(href="http://www.eidhof.nl/" target="_blank")
            img(src="../assets/img/chris.jpg")
          p.detail Chris, 生活在德国柏林的荷兰开发者。他把大部分时间都花在开发 iOS 和 Mac 应用上，作品包括 #[a(href="http://decksetapp.com" target="_blank") Deckset] 和 #[a(href="http://www.getscenery.com" target="_blank") Scenery]. Chris 还创办了 #[a(href="http://www.uikonf.com" target="_blank") UIKonf] 和 #[a(href="http://www.objc.io" target="_blank") objc.io]. 此外，他还是一位作者，著有 #[a(href="http://www.objc.io/books/fpinswift" target="_blank") Functional Programming in Swift], 目前正在编写 #[a(href="http://www.objc.io/books/" target="_blank") Advanced Swift].

      div.speaker__card.b.l
        div.speaker__content
          h4.name 傅若愚
          a(href="https://github.com/lingoer" target="_blank")
            img(src="../assets/img/furuoyu.jpg")
          p.detail 移动开发者，ThoughtWorks 高级咨询师/Tech Lead，SwiftyJSON 作者。业余喜读书，文史哲无所禁忌，爱美食与啤酒，凡酒约，从不拒绝，爱睡懒觉，周末从不在下午 2 点前起床。总之，是个充满缺点与怪癖的家伙。

      div.speaker__card.b.r
        div.speaker__content
          h4.name 李洁信
          a(href="https://xitu.io/85" target="_blank")
            img(src="../assets/img/lijiexin.jpg")
          p.detail 前网易新闻客户端 iOS 开发，创办了国内最早的 Swift 社区 #[a(href="http://swiftist.org" target="_blank") swiftist.org], 2014 年 10 月开始在生产环境使用 Swift, 开发了英语学习 App Listen+.
          

      div.speaker__card.b
        div.speaker__content
          h4.name SAM SOFFES
          a(href="http://soff.es" target="_blank")
            img(src="../assets/img/sam.jpg")
          p.detail Sam, 开发者和设计师，代表作有 Tiiny、Litely、Cheddar、Hipstamatic 和 Bible. Sam 生活在旧金山，是一位狂热的摩托车手。他的 Twitter 和 GitHub 是 @soffes.
          

      div.speaker__card.b.l
        div.speaker__content
          h4.name 王巍
          a(href="http://onev.cat/" target="_blank")
            img(src="../assets/img/wangwei.png")
          p.detail @onevcat, 江湖人称“喵神”。iOS 和 Unity3D 开发者，旅居日本，目前供职于 LINE. 著有《Swifter - 100 个 Swift 必备 tips》。
      div.speaker__card.r
        div.speaker__content
          h4.name 翁阳
          a(href="http://blog.makeex.com/" target="_blank")
            img(src="../assets/img/wengyang.jpg")
          p.detail 沪江 iOS 资深工程师，前携程天海邮轮 APP 主力开发和架构，拥有丰富的前后端开发经验。爱咖啡，爱喝酒，人送外号“酒仙”，常独自边喝酒边 Coding 的怪人。
      div.speaker__card
        div.speaker__content
          h4.name 周楷雯
          a(href="http://zhowkev.in" target="_blank")
            img(src="../assets/img/zhoukaiwen.jpg")
          p.detail Catch 创始人，著有 《Producter》，喜欢一边旅行，一边做点东西。
    section.agenda(id="agenda")
      div.agenda__content
        h1 大会议程
        h4 *暂定，后续会不断更新
        ul.agenda__list
          li
            time 08:30
            div
              span 签到
          li
            time 09:20
            div
              span 开场
              p 梁杰
          li
            time 09:30
            div
              span 一些 Swift 高级内容（待定）
              p Chris Eidhof
          li
            time 10:10
            div
              span 越过 OC 与 Swift 间的鸿沟
              p 傅若愚
          li.lottery
            time 10:50
            div
              span 抽奖&休息
          li
            time 11:10
            div
              span 未来 iOS 移动开发模式
              p 李洁信
          li.lunch
            time 12:00
            div
              span 午餐
          li.lottery
            time 13:20
            div
              span 抽奖
          li
            time 13:30
            div
              span 主题未定
              p Sam Soffes
          li
            time 14:10
            div
              span ReactiveCocoa 4.0 或如何开发和维护一个 Framework
              p 王巍
          li
            time 14:50
            div
              span Swift，改善既有代码的设计
              p 翁阳
          li
            time 15:30
            div
              span 茶歇
          li
            time 16:00
            div
              span Faster App，用 Swift 打造一款流畅的 App
              p 周楷雯
          li
            time 16:40
            div
              span 主题未定
              p 包涵卿
          li.lottery
            time 17:20
            div
              span 抽奖



    section.ticket(id="ticket")
      h1 门票
      //- h4
      //-   span 已售#[span.number 150]
      p 举办一场高质量的大会不仅需要人也需要钱。会场预订、嘉宾差旅、参会者福利都需要资金支持，因此我们需要通过多种途径筹集资金。
      p.blank 对于 @Swift 来说，门票是我们最大的资金来源，大会需要你的支持！
      h1 给我一个买票的理由
      ul.blank
        li 这是国内第一场 Swift 大会
        li 身处现场，和国内外一线 Swift 专家交流
        li 会后我们会放出视频，但是不包含提问环节——只有在现场才能参与提问
        li 和几百位对 Swift <b>真正感兴趣</b>的开发者交流
        li 所有收入全部用于大会支出，你们才是这场大会真正的主人！
      p 那么，你是否愿意和我们一起，办一场真正属于我们自己的大会？
      div.hand
        img(src="../assets/img/handshake.jpg")
      div.ticket__btn
        a(href="http://wap.koudaitong.com/v2/goods/1yjxzdhp7932u?scan=1&activity=none&from=kdt" target="_blank") 我愿意！
    section.sponsor(id="sponsor")
      div.sponsor__content
        h1 赞助商
        span 赞助商招募中，有兴趣请邮件联系 #[a(href="mailto:lj925184928@gmail.com") 梁杰]。
        h4 钻石赞助商
        div.sponsor__logo
          a.sponsor__card.center(href="http://fir.im/" target="_blank")
            img(src="../assets/img/sponsor/fir.jpg")
        hr
        h4 黄金赞助商
        div.sponsor__logo
          a.sponsor__card(href="http://100offer.com/" target="_blank")
            img(src="../assets/img/sponsor/100offer.png")
          a.sponsor__card(href="https://bearychat.com/" target="_blank")
            img(src="../assets/img/sponsor/bearychat.png")
          a.sponsor__card(href="https://pubu.im" target="_blank")
            img(src="../assets/img/sponsor/pubu.png")
          //- a.sponsor__card(href="http://www.qiniu.com" target="_blank")
          //-   img(src="../assets/img/sponsor/qiniu.png")
        hr
        h4 白银赞助商
        div.sponsor__logo
          a.sponsor__card(href="http://www.broadview.com.cn/" target="_blank")
            img(src="../assets/img/sponsor/bowen.png")
          a.sponsor__card(href="http://www.in66.com/?_ig=swift" target="_blank")
            img(src="../assets/img/sponsor/in66.png")
          a.sponsor__card(href="http://www.liulishuo.com/" target="_blank")
            img(src="../assets/img/sponsor/liulishuo.png")
          a.sponsor__card(href="http://www.imooc.com/" target="_blank")
            img(src="../assets/img/sponsor/mooc.png")
          a.sponsor__card(href="http://toutiao.io" target="_blank")
            img(src="../assets/img/sponsor/toutiao.png")
          a.sponsor__card(href="http://www.ituring.com.cn/" target="_blank")
            img(src="../assets/img/sponsor/turing.png")
        hr
        h4 工具赞助商
        div.sponsor__logo
          a.sponsor__card(href="http://www.charlesproxy.com/" target="_blank")
            img(src="../assets/img/sponsor/charles.png")
          a.sponsor__card(href="https://kapeli.com/dash" target="_blank")
            img(src="../assets/img/sponsor/dash.png")
          a.sponsor__card(href="http://www.sketchapp.com/" target="_blank")
            img(src="../assets/img/sponsor/sketch.png")
    section.medias(id="medias")
      h1 合作伙伴
      div.medias__logo
        a.medias__card(href="http://www.36kr.com" target="_blank")
          img(src="../assets/img/medias/36kr.png")
        a.medias__card(href="http://www.cocoachina.com/" target="_blank")
          img(src="../assets/img/medias/cocoachina.png")
        a.medias__card(href="http://www.csdn.net" target="_blank")
          img(src="../assets/img/medias/csdn.png")
        a.medias__card(href="http://geek2startup.com/" target="_blank")
          img(src="../assets/img/medias/g2s.png")
        a.medias__card(href="http://www.infoq.com/cn/" target="_blank")
          img(src="../assets/img/medias/infoq.jpg")
        a.medias__card(href="http://www.jikexueyuan.com" target="_blank")
          img(src="../assets/img/medias/jkxy.png")
        a.medias__card(href="http://manong.io" target="_blank")
          img(src="../assets/img/medias/manong.png")
        a.medias__card(href="http://next.36kr.com/posts" target="_blank")
          img(src="../assets/img/medias/next.png")
        a.medias__card(href="http://www.php-z.com/" target="_blank")
          img(src="../assets/img/medias/phpz.png")
        a.medias__card(href="http://www.oschina.net/" target="_blank")
          img(src="../assets/img/medias/oschina.png")
        a.medias__card(href="http://www.pingwest.com" target="_blank")
          img(src="../assets/img/medias/pw.png")
        a.medias__card(href="http://segmentfault.com" target="_blank")
          img(src="../assets/img/medias/sf.png")
        a.medias__card(href="https://testerhome.com/" target="_blank")
          img(src="../assets/img/medias/testerhome.png")  
        a.medias__card(href="http://www.tuicool.com/" target="_blank")
          img(src="../assets/img/medias/tuicool.jpg")
        a.medias__card(href="https://xitu.io" target="_blank")
          img(src="../assets/img/medias/xitu.jpg") 
          
    section.map
      div.map__content
        h1 会场位置
        span 北京·待定（如果您愿意赞助场地，请直接与 #[a(href="mailto:lj925184928@gmail.com") 梁杰] 联系）
    section.subscribe
      div.part0
        h2 订阅最新消息
      div.subscribe__main
        form.emailform
          div.part1
            input.subscribe__email(type="email" placeholder="邮箱地址")
          div.part2
            a.subscribe__btn 订阅
    footer
      div.main
        div
          span Build by #[a(href="https://github.com/atConf" target="_blank") @Conf]
        div.long
          span Design by #[a(href="https://github.com/erqiudao" target="_blank") @erqiuda] & #[a(href="https://github.com/z4rd" target="_blank") @z4rd]
        div
          a(href="mailto:lj925184928@gmail.com") 联系我们
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67871901-1', 'auto');
      ga('send', 'pageview');
      
