doctype html

html(lang="zh-CN")

  head
    meta(charset="UTF-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1")/
    title @Swift | First Swift Developer Conference in China
    link(rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico")
    link(rel="apple-touch-icon image_sr" type="image/x-icon" href="../assets/img/favicon.ico")
    link(rel="stylesheet" type="text/css" href="../assets/css/vendor/bootstrap.min.css")/
    link(rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="../assets/css/main.css")
    script(type="text/javascript" src="../assets/js/zepto.min.js")
    script(type="text/javascript" src="../assets/js/main.js")
    script(type="text/javascript" src="../assets/js/subscribe.js")
  body
    img(src="../assets/img/wechatLogo.png" style="position: fixed; top: -9999px;")
    section.info
      div.info__content.en
        img(src="../assets/img/logo.png").info__logo
        p.info__subtitle The First Swift Developer Conference in China
        p.info__date 10th Jan 2016·Beijing China
        div.info__btn
          a(href="#ticket") Buy tickets
      header.header
        div.sm_nav
          div.header__btn
            a
              i.fa.fa-bars
          ul.sm_btns
            li
              a(href="#intro") ABOUT
            li
              a(href="#speaker") SPEAKERS
            li
              a(href="#agenda") SUBJECTS
            li
              a(href="#sponsor") SPONSORS
            li
              a(href="#medias") PARTNERS
        div.header__nav
          div.header__btn
            a(href="#intro") ABOUT
          div.header__btn
            a(href="#speaker") SPEAKERS
          div.header__btn
            a(href="#agenda") SUBJECTS
          div.header__btn
            a(href="#sponsor") SPONSORS
          div.header__btn
            a(href="#medias") PARTNERS
          //- div.header__btn.highlight
          //-   a 购票
        div.header__social
          div.header__social__btn
            a(href="./index.html") CN
          div.header__social__btn
            a(href="http://weibo.com/atswift" target="_blank")
              i.fa.fa-weibo
          div.header__social__btn
            a(href="https://github.com/atConf/atswift" target="_blank")
              i.fa.fa-github
          div.header__social__btn
            a(href="https://twitter.com/atSwiftConf" target="_blank")
              i.fa.fa-twitter
    section.intro(id="intro")
      div.intro__content
        h1 ABOUT THE CONFERENCE
        div.intro__card
          img(src="../assets/img/intro1_red.png")
          h3.intro__reason Non Profit
          p.intro__detail @Swift is a non profit conference organized by @Conf team. All incomes will be used for the conference itself, including space expenses, travel fee for speakers and participants' benefits.
        div.intro__card
          img(src="../assets/img/intro2.png")
          h3.intro__reason DEV to DEV
          p.intro__detail @Swift is a tech feast made by developers  for developers. We are developers just like you, what you are looking for is also our main goal.
        div.intro__card
          img(src="../assets/img/intro3.png")
          h3.intro__reason High Quality
          p.intro__detail All of our speakers and subjects are strictly chosen in order to make sure you get the best experience.
    section.speaker(id="speaker")
      h1 SPEAKERS
      div.speaker__card.r.b
        div.speaker__content
          h4.name CHRIS EIDHOF
          a(href="http://www.eidhof.nl/" target="_blank")
            img(src="../assets/img/chris.jpg")
          p.detail Chris is a Dutch software developer living in Berlin (Germany). He spends most of his time building iOS and Mac apps, such as #[a(href="http://decksetapp.com" target="_blank") Deckset] and #[a(href="http://www.getscenery.com" target="_blank") Scenery]. He started #[a(href="http://www.uikonf.com" target="_blank") UIKonf], #[a(href="http://www.objc.io" target="_blank") objc.io], wrote a book about #[a(href="http://www.objc.io/books/fpinswift" target="_blank") Functional Programming in Swift] and is currently writing a book on #[a(href="http://www.objc.io/books/" target="_blank") Advanced Swift].

      div.speaker__card.b
        div.speaker__content
          h4.name SAM SOFFES
          a(href="http://soff.es" target="_blank")
            img(src="../assets/img/sam.jpg")
          p.detail Sam is a developer & designer. Some of the notable apps he’s worked on include Tiiny, Litely, Cheddar, Hipstamatic, and Bible. He lives in San Francisco and rides his motorcycle as much as possible. You can find him on Twitter or GitHub as @soffes.

      div.speaker__card.b.l
        div.speaker__content
          h4.name WEI WANG
          a(href="http://onev.cat/" target="_blank")
            img(src="../assets/img/wangwei.png")
          p.detail @onevcat, also know as '喵神(Cat God)', is an iOS and Unity3D developer. Wang lives in Japan and work for Line now. He is the author of *Swifter - 100 Swift necessary tips*.

      div.speaker__card.r
        div.speaker__content
          h4.name JIEXIN LI
          a(href="https://xitu.io/85" target="_blank")
            img(src="../assets/img/lijiexin.jpg")
          p.detail Former iOS developer at News Application of NetEase. He was the founder of the very first Swift online community in China - #[a(href="http://swiftist.org" target="_blank") swiftist.org]. Starting to use Swift in productive environment in October 2014, he developed the English learning application Listen+.
      div.speaker__card
        div.speaker__content
          h4.name 
          img(src="../assets/img/avatar.png")
          p.detail ~3 MORE SPEAKERS TO BE ANNOUNCED
      div.speaker__card.l.null
        div.speaker__content
    section.agenda(id="agenda")
      div.agenda__content
        h1 SUBJECTS
        ul
          li New features in Swift 2
          li The open source of Swift and it's impact on developers
          li Best practices of migrating from Objective-C to Swift
          li How to learn Swift
    section.ticket(id="ticket")
      h1 TICKET
      p Holding a high-quality conference not only requires energy but <b>also</b> needs money Everything will not be able to run without enough financial support, so we are raising money through various ways.
      p.blank For @Swift, tickets is our main income, we really need your support!
      h1 Why should I pay for @Swift?
      ul.blank
        li This is the VERY FIRST Swift conference in China
        li You can communicate with best speakers from all over the world
        li We will release the video after the conference, but without the Q&A part - you must come to listen and ask
        li Meeting with hundreds of developers who REALLY LOVE Swift
        li All of our incomes will be used for supporting the conference, you are the real host of this conference!
      p So, will you support us?
      div.hand
        img(src="../assets/img/handshake.jpg")
      div.ticket__btn
        a(href="http://weidian.com/item.html?itemID=1551102030" target="_blank") YES!
    section.sponsor(id="sponsor")
      div.sponsor__content
        h1 SPONSORS
        h4 Still recruiting, if you have any interests, please contact #[a(href="mailto:lj925184928@gmail.com") Jie Liang]。
    section.medias(id="medias")
      h1 PARTNERS
      div.medias__logo
        a.medias__card(href="http://www.36kr.com" target="_blank")
          img(src="../assets/img/medias/36kr.png")
         a.medias__card(href="http://www.cocoachina.com/" target="_blank")
          img(src="../assets/img/medias/cocoachina.png")
        a.medias__card(href="http://www.csdn.net" target="_blank")
          img(src="../assets/img/medias/csdn.png")
        a.medias__card(href="http://geek2startup.com/" target="_blank")
          img(src="../assets/img/medias/g2s.png")
        a.medias__card(href="http://www.infoq.com/cn/" target="_blank")
          img(src="../assets/img/medias/infoq.jpg")
        a.medias__card(href="http://www.jikexueyuan.com" target="_blank")
          img(src="../assets/img/medias/jkxy.png")
        a.medias__card(href="http://next.36kr.com/posts" target="_blank")
          img(src="../assets/img/medias/next.png")
        a.medias__card(href="http://www.php-z.com/" target="_blank")
          img(src="../assets/img/medias/phpz.png")
        a.medias__card(href="http://www.pingwest.com" target="_blank")
          img(src="../assets/img/medias/pw.png")
        a.medias__card(href="http://segmentfault.com" target="_blank")
          img(src="../assets/img/medias/sf.png")
        a.medias__card(href="https://xitu.io" target="_blank")
          img(src="../assets/img/medias/xitu.jpg")
    section.map
      div.map__content
        h1 CONFERENCE VENUE
        h4 undetermined·Beijing(If you are willing to provide meeting place, please contact #[a(href="mailto:lj925184928@gmail.com") JIE LIANG])
    section.subscribe
      div.part0
        h2 Subscribe our newsletter
      div.subscribe__main
        form.emailform
          div.part1
            input.subscribe__email(type="email" placeholder="邮箱地址")
          div.part2
            a.subscribe__btn SUBMIT
    footer
      div.main
        div
          span Build by #[a(href="https://github.com/atConf" target="_blank") @Conf]
        div.long
          span Design by #[a(href="https://github.com/erqiudao" target="_blank") @erqiuda] & #[a(href="https://github.com/z4rd" target="_blank") @z4rd]
        div
          a(href="mailto:lj925184928@gmail.com") Contact us
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67871901-1', 'auto');
      ga('send', 'pageview');
      
